.franchise-heading h1{
    text-align: center;
    color: #FEE346;
    font-size: 8vh;
    margin-bottom: 10vh;
}
.franchise-content h5{
    text-align: center;
    color: #E2E2E2;
    font-weight: 200;
    margin-bottom: 5vh;
}
.franchise-content{
    margin-bottom: 10vh;
}